html {  
	
	background: url("../img/trump_sensei.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    margin: 0;
    background: url(../img/bulles.svg) no-repeat;
    background-size: 31%;
    background-origin: border-box;
    background-position: 85% 59%;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
}

#left {
}

#right {
    position: absolute;
    margin-top: 8%;
    margin-left: 55%;
    background-color: white;
    border-top: 15px solid rgb(251, 91, 11);
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#text {
    color: white;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 6%;
    width: 35%;
    position: absolute;

}

#contentLeft {
    margin-top: 0%;
    color: #5b798c;
    font-size: 220%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    font-weight: 500;
}

#contentLogo {
    margin-top: 0%;
    color: #5b798c;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#content {
    width: 69%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16%;
}


#connexion {
    color: rgb(251, 91, 11);
    border: 2px solid #FC5B0B;
    border-radius: 45px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#mail {
    border: none;
    border-bottom: 1px solid rgb(91, 121, 140);
    width: 100%;
    padding: 0px 0px 10px 5px;
}

#mail:focus {
    outline: none;
}

#textRight {
    color: #5b798c;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    margin-top: 10%;
    
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;

    font-weight: 500;
    line-height: 17pt;

    letter-spacing: -0.1px;
}

.bottom-text{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
::-webkit-input-placeholder { font-family: 'Raleway', sans-serif; }
::-moz-placeholder { font-family: 'Raleway', sans-serif; } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'Raleway', sans-serif; } /* ie */
input:-moz-placeholder { font-family: 'Raleway', sans-serif; }

.bottom-text input{
	margin-bottom: 35px;
     

}

#picto-veille{
    margin-bottom: 5%;
    width: 80px;
}

#veille{
  transition: opacity 2s linear;
}

#analyse{
  transition: opacity 2s linear;
  opacity: 0;
}

#diffusion{
  transition: opacity 2s linear;
  opacity: 0;
}


#text-president{
    margin-left: 10%;
}

.error{
    color:red;
}

.success{
    color:green;
}


#rectangle{
background-image: url(../img/rectangle.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    width: 17%;
    height: 50%;
    background-size: 181px 269px;
}

#arrowLeft{
    left: 52%;
    top: 53%;
    position: absolute;
    display:none;
}
#arrowLeft img{
    cursor: pointer;
  width: 50%;
}
#arrowRight{
    position: absolute;
    left: 86.4%;
    top: 53%;
}

#arrowRight img{
    cursor: pointer;
  width: 50%;
}

#app{
    opacity: 0;
}

#logo-landing{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    size: 20%;
    width: 200px;
    margin-left: 60px;
}
