html{
	height: 100%;
}

body{
	font-family: 'Raleway', sans-serif;
	width:100%;
	height:100%;
	display: flex;
	margin: 0;
	justify-content: space-around;
    align-items: center;
}

#left{
	border:1px solid black;
	width:40%;
	height:60%;
	display: flex;
	margin: 0;
	justify-content: space-around;
    align-items: center;
}

#right{
	border:1px solid black;
	width:40%;
	height:60%;
	display: flex;
	margin: 0;
	justify-content: space-around;
    align-items: center;
}


.content{
	width:80%;
	height:80%;

}

.text{
	font-size:250%;
	color:#5A788B;

}

.offre{
	font-size:80%;
}

.connexion{
	color:orange;
}